<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetroKiosk.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <MetroKiosk.My.MySettings>
            <setting name="LogmasterIp" serializeAs="String">
                <value>192.168.1.91</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BluetoothEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Size1Text" serializeAs="String">
                <value>6x4</value>
            </setting>
            <setting name="Size2Text" serializeAs="String">
                <value>7x5</value>
            </setting>
            <setting name="Size3Text" serializeAs="String">
                <value>8x6</value>
            </setting>
            <setting name="Size4Text" serializeAs="String">
                <value>10x8</value>
            </setting>
            <setting name="Size5Text" serializeAs="String">
                <value>10x12</value>
            </setting>
            <setting name="PriceBand1Max" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="PriceBand2Max" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PriceBand3Max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Size1Price1" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Size1Price2" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Size1Price3" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="Size1Price4" serializeAs="String">
                <value>0.12</value>
            </setting>
            <setting name="Size2Price1" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Size2Price2" serializeAs="String">
                <value>0.35</value>
            </setting>
            <setting name="Size2Price3" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="Size2Price4" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Size3Price1" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="Size3Price2" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="Size3Price3" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="Size3Price4" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="Size4Price1" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Size4Price2" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Size4Price3" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Size4Price4" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Size5Price1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Size5Price2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Size5Price3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Size5Price4" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Size1Img" serializeAs="String">
                <value>C:\KioskAssets\6x4.png</value>
            </setting>
            <setting name="Size2Img" serializeAs="String">
                <value>C:\KioskAssets\7x5.png</value>
            </setting>
            <setting name="Size3Img" serializeAs="String">
                <value>C:\KioskAssets\8x6.png</value>
            </setting>
            <setting name="Size4Img" serializeAs="String">
                <value>C:\KioskAssets\10x8.png</value>
            </setting>
            <setting name="Size5Img" serializeAs="String">
                <value>C:\KioskAssets\10x12.png</value>
            </setting>
            <setting name="StorageSD" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="StorageXD" serializeAs="String">
                <value>E:</value>
            </setting>
            <setting name="StorageMS" serializeAs="String">
                <value>F:</value>
            </setting>
            <setting name="StorageCF" serializeAs="String">
                <value>G:</value>
            </setting>
            <setting name="StorageUSB" serializeAs="String">
                <value>H:</value>
            </setting>
            <setting name="StorageCD" serializeAs="String">
                <value>I:</value>
            </setting>
            <setting name="StorageiDevice" serializeAs="String">
                <value>J:</value>
            </setting>
            <setting name="StorageTarget" serializeAs="String">
                <value>C:\Orders</value>
            </setting>
            <setting name="Size1Channel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Size2Channel" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Size3Channel" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Size4Channel" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Size5Channel" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="UseGDIReceipt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Use2K17" serializeAs="String">
                <value>False</value>
            </setting>
        </MetroKiosk.My.MySettings>
    </userSettings>
</configuration>
